*{
  margin: 0;
  padding: 0; 
}
body{
  min-height: 100vh;
  background-color: #1E0342;
  background: radial-gradient(circle, #24246e, #06051f);
  margin:0;
  padding:0;
  font-size: 15px;
  font-family: "Kanit", sans-serif;
}
.container{
  display:flex;
  padding-top: 50px;
  justify-content:center;
  
}
.collapse{
  max-width:450px;
  overflow:hidden;
  font-weight:500;
}
.collapse input{
  display:none;
}
.collapse label{
  position:relative;
  font-weight:600;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 11px rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.92);
  color:#c0b3d1;
  display:block;
  margin-bottom: 10px;
  cursor:pointer;
  padding: 15px ;
  border-radius: 4px;
  z-index: 1;
}
.collapse label::after{
  content:'';
  position:absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  background:url("right-arrow.svg") 0 0;
  transition: all 0.5s ease;
}

.collapse input:checked + label:after{
  transform:rotate(90deg);
}
.collapse-text{
  max-height: 1px;
  overflow:hidden;
  border-radius: 4px;
  line-height:1.4;
  position:relative;
  top: -100%;
  opacity:0.5;
  transition: all 0.5s ease;
}
.collapse input:checked ~ .collapse-text{
   max-height: 300px;
  padding-bottom: 25px;
  background:#fff;
  box-shadow: 0 5px 11px rgba(0,0,0,.1), 0 4px 11px 0 rgba(0,0,0,.08);
  opacity:1;
  top:0;
}
.collapse-text h2 {
  margin-bottom:10px;
  padding: 15px 15px 0;
  color: #1E0342;
}
.collapse-text p{
  padding-left:15px;
  padding-right:15px;
  color: #1E0342;
}