*{
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0; 
}
body{
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1E0342;
  background: radial-gradient(circle, #24246e, #06051f);
  /*isolation: isolate;*/
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.container{
  background: rgba(131, 94, 94, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(131, 94, 94, 0.05);
  height: 100px;
  width: 500px;
  position: relative;
  display:flex;
  justify-content: center;
  align-content:center;
  -ms-align-items: center;
  overflow:hidden;
}
.container h1{
  color:#E2BBE9;
  text-shadow:2px 2px black;
  font-size: 1.3em;
  display:flex;
  justify-content: center;
  align-items:center;
}
